/* styles/globals.css */
#__next {
  height: 100vh;
}

/* default weight 400  */
@import '@fontsource/noto-sans-tc';
@import '@fontsource/noto-sans-tc/300.css';
@import '@fontsource/noto-sans-tc/500.css';
@import '@fontsource/noto-sans-tc/600.css';
@import '@fontsource/noto-sans-tc/700.css';
@import '@fontsource/noto-sans-tc/800.css';
@import '@fontsource/noto-sans-tc/900.css';

@font-face {
  font-family: 'jf open 粉圓';
  src: url('/bpm-elf/fonts/jf-openhuninn-2.1.ttf') format('truetype');
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* font-family: "Inter", sans-serif; */
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif; */
  font-family: 'jf open 粉圓', 'Noto Sans TC', 'Noto Sans', 'sans-serif';
}

.header-custom {
  padding-left: 24px;
  /* Adjust this value to align with sidebar padding */
}

.my-flex {
  padding-top: 56px;
  display: flex;
  height: 100%;
}

.content-container {
  padding: 40px;
  overflow-y: auto;
  flex-grow: 1;
}

.custom-textarea {
  border: none;
  border-radius: 0;
  box-shadow: none;
  /* resize: none; */
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.footer {
  margin-top: auto;
  width: calc(100% - 250px);
  /* Width of the content area excluding the sidebar */
  margin-left: 250px;
  /* Width of the fixed sidebar */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* TODO: workaround */
  a.workaround {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline !important;
  }

  /* 避免 bs button style 被蓋 */
  button.bs-secondary {
    background-color: var(--bs-secondary);
  }

  button.bs-primary {
    background-color: var(--bs-primary);
  }

  button.bs-danger {
    background-color: var(--bs-danger);
  }

  button.bs-success {
    background-color: var(--bs-success);
  }

  button.bs-primary {
    background-color: var(--bs-primary);
  }

  button.bs-info {
    background-color: var(--bs-info);
  }

  /* for material tailwind dialog use */
  .grid.place-items-center.fixed.w-screen.h-screen.bg-black {
    /* 半透明 60% 黑 */
    background-color: rgba(0, 0, 0, 0.6) !important;
    /* 同時加點模糊 */
    /* backdrop-filter: blur(4px) !important; */
  }
}
